<!--<div>
    <h3 class="mt-3 mb-3">Dados do CSV:</h3>
    <% rows = [] %>
    <% CSV.foreach("movimentacao_de_estoque.csv", headers: true , header_converters: :symbol) do |row| %>
        <% nome_deposito, data, tipo_de_movimentacao, nome_produto, quantidade = row %>
            <% rows << row.to_h.values %>
        <% end %>

        <% rows.sort_by! { |row| row[2]} %>
            
        <% rows.each do |row| %>
            <% nome_deposito, data, tipo_de_movimentacao, nome_produto, quantidade = row %>
        <p><%= nome_deposito %> - <%= data %> - <%= tipo_de_movimentacao %> - <%= nome_produto %> - <%= quantidade %></p>
    <% end %>
</div>-->

<div>
    <h3 class="mt-3 mb-3">Logs do Sistema:</h3>
    <% File.foreach("log.txt") do |row| %>
        <p><%= row %></p>
    <% end %>
</div>

<div>
    <h3 class="mt-3 mb-3">Movimentações:</h3>
    <% @movimentacoes.each do |m| %>
        <h6><%= m.produto_id%> - <%= m.local_armazenamento_id%> - <%= m.tipo%> - <%= m.quantidade%> - <%= m.data%></h6>
    <% end %>
</div>

<div>
    <h3 class="mt-3 mb-3">Estoque:</h3>
    <% @estoques.each do |e| %>
        <h6><%= e.id %> - <%= e.produto_id %> - <%= e.local_armazenamento_id %> - <%= e.quantidade %> </h6>
    <% end %>
</div>

<div>
    <h3 class="mt-3 mb-3">Locais de Armazenamento:</h3>
    <% @locais.each do |l| %>
        <h6><%= l.id %> - <%= l.nome %> </h6>
    <% end %>
</div>

<div>
    <h3 class="mt-3 mb-3"> Produtos: </h3>
    <% @produtos.each do |p| %>
        <h6><%= p.id %> - <%= p.nome %> </h6>
    <% end %>
</div>

<div>
    <h3 class="mt-3 mb-3"> Importar CSV </h3>
    <%= form_with url: import_path, multipart: true do |form| %>
        <%= form.file_field :file, accept: ".csv" %>
        <%= form.submit %>
    <% end %>
</div>